@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&amp;display=swap');

@font-face {
    font-family: craft;
    src: url(mine.otf) format("opentype");
}

html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace
}

*, *::after, *::before {
    margin: 0;
    padding: 0
}

body {
    margin: 0;
    padding: 0;
    height: 10vh;
    background: #000;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


#overlay-toggle {
    display: none
}

.overlay {
    z-index: 1;
    background-color: #000
}

.overlay label {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem
}

.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100vh;
    min-width: 100vw;
    
    
}

.text-content {
    background: transparent;
    display: grid;
    place-content: center;
    text-align: center;
}

.text-content h1 {
    color: #fff;
    text-shadow: 0 0 0.40em #fff;
    font-size: 3rem;
    font-weight: 100;
    margin: 90px;
}


#bio{

}

#pipe{
 color: rgb(255, 255, 255);
 animation: blink 1s linear infinite;
}

@keyframes blink {
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
}




.text-content a:hover {
    transition: 0.5s;
    color: #fff;
    text-shadow: 0 0 0.40em #fff
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center
}

.social{
    font-size: 70px;
    color: #fff;
    }
    

#overlay-toggle:checked~.overlay {
    animation-fill-mode: forwards;
    animation-name: fade, hide;
    animation-delay: 0s, 600ms;
    animation-duration: 600ms, 1ms
}

#overlay-toggle:checked~.overlay label {
    animation-fill-mode: forwards;
    animation-name: fade;
    animation-delay: 0s;
    animation-duration: 500ms
}

video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    filter: blur(0px) brightness(30%)
}

@keyframes fade {
    to {
        opacity: 0
    }
}

@keyframes hide {
    to {
        visibility: hidden
    }
}


#wit{
    font-size: 38px;
    margin: -50px;
    color: #fff;
    filter: drop-shadow(0 0 0.05em #fff);
    position: sticky;

}

#wit:hover{
        color: #e4e4e4;
        transform: scale(1.2);
    }

@media (max-width: 1000px) 
{
    video {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        right: -200%;
        bottom: 0;
        filter: blur(0px) brightness(30%)
    }
}

